include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head() 
  body.vanilla  
    div.page-wrapper
      +header()
      section
        div.content-wrapper
          div.content
            h2 Login
            p= loginMessage
            form(method='post', action='login').pure-form.pure-form-stacked
              label Email
              input(type='email' name='username')
              label Pass
              input(type='password' name='password')
              input(type='submit' value='Log In').pure-button

            form(method='get', action='forgotPass')
              input(type='submit', value='I forgot my password :(').pure-button
      +footer()



