doctype html5
html
  head
    link(rel='stylesheet', href='static/style.css')
    include ../mixins/footer.jade
    include ../mixins/splashTitle.jade

  body
    div.wrapper
      +splashTitle()
      form(method='post', action='emailNewPassword')
        label Username
        input(type='text' name='username')
        input(type='submit' value='Email me a new password plz!')

      div.push

    +footer()
