include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head()
    
  body.vanilla
    div.page-wrapper
      +header(true)
      
      section
        div.content-wrapper
    
          form(method='post', action='emailNewPassword').pure-form.pure-form-stacked
            label E-Mail
            input(type='email' name='email')
            input(type='submit' value='Email me a new password plz!').pure-button.pure-button-primary



      +footer()
