mixin footer
  footer
    img(src='/static/img/footer-design.png').footer-design
    div.page-wrapper
      div.footer-main
        div.pure-u-1.pure-u-med-1-2
          p
            img(src='/static/img/footer-mozilla-white.png')
          p
            a(href="https://www.mozilla.org/en-US/about/legal/terms/mozilla/")
              small.fa-inverse Terms of Service
            br
            a(href="https://www.mozilla.org/en-US/privacy/websites")
              small.fa-inverse Privacy Policy
            br
            a(href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank")
              i.fa.fa-cc.fa-inverse
              small.fa-inverse  Creative Commons Attribution 3.0 Unported License

        div.pure-u-1.pure-u-med-1-4
          em FOLLOW US
          div
            a(href="https://twitter.com/MozillaScience" target="_blank").fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x.social-icons
              i.fa.fa-twitter.fa-stack-1x.fa-inverse
        div.pure-u-1.pure-u-med-1-4.email
          em MAILING LIST
          p
            small Occasional e-mail updates & news.
          input(placeholder="Sign up with your e-mail")
          button.pure-button.pure-button-primary
            i.fa.fa-caret-right
        div


        div#scripts

