mixin footer
  footer
    img(src='/static/img/footer-design.png').footer-design
    div.page-wrapper
      div.footer-main
        div.pure-u-1.pure-u-med-1-2
          p
            img(src='/static/img/footer-mozilla-white.png')
        div.pure-u-1.pure-u-med-1-4
          em FOLLOW US
          div.social-icons
            a(href="https://twitter.com/MozillaScience").pure-button
              i.fa.fa-twitter.fa-lg
        div.pure-u-1.pure-u-med-1-4.email
          em MAILING LIST
          p
            small Occasional e-mail updates & news.
          input(placeholder="Sign up with your e-mail")
          button.pure-button.pure-button-primary
            i.fa.fa-caret-right
        div
          p links to privacy and license and stuff
        div#scripts
        link(href='http://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700' rel='stylesheet' type='text/css')

