mixin header(loggedIn)
  header
    div.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
      a(href='/').pure-menu-heading Interdisciplinary Programming
      ul
        if(loggedIn)
          li
            a(href='/userProfile') Profile
          li
            a(href='/userSearch') Search
          li
            a(href='/userMatches?page=0') Matches
          li
            a(href='/logout') Logout
        else
          li
            a(href='/login') Login
          li
            a(href='/register') Signup
