mixin head
	// This can take arguments later and then we can conditionally insert chunks of CSS depending on which page we're on	
	link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Monda:400,700|Archivo+Narrow')
	link(rel='stylesheet', type='text/css', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='http://yui.yahooapis.com/pure/0.4.2/pure-min.css ')
	link(rel='stylesheet', type='text/css', href='/static/style.css') 