mixin header(loggedIn)
  header
    div

      a(href="https://www.mozilla.org/" id="tabzilla") mozilla
      link(href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet")
      script(src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js")

      //a(href='http://mozillascience.org/')

      a(href='#')
        img(src='static/img/MSL.png').MSLlogo




      //ul
        if(loggedIn)
          li
            a(href='/userProfile') Profile
          li
            a(href='/userSearch') Search
          li
            a(href='/userMatches?page=0') Matches
          li
            a(href='/logout') Logout
        else
          li
            a(href='/login') Login
          li
            a(href='/register') Signup
