mixin internalHeader(title)
  div.pure-menu.pure-menu-open.pure-menu-horizontal

    ul
      li
        a(href='/userMatches?page=0') Matches
      li
        a(href='/userProfile') Profile
      li
        a(href='/userSearch') Search

    //-
      form(method='post', action='logout').pure-form
        button(value=0, name='page').pure-button.pure-button-primary Logout