mixin userMenu()
  div.pure-menu.pure-menu-open.user-menu
    ul
      li
        a(href='/userMatches?page=0') Matches
      li
        a(href='/userProfile') Profile
      li
        a(href='/userSearch') Search