mixin userStub(name, hasContacted, isScientist, isDeveloper, language, discipline)
  div.userStub
    h3= name
    - if(hasContacted.indexOf(name) != -1 )
      div You have already contacted this user.
    form(method='get', action='viewProfile').pure-form
      button(value=name, name='userID').pure-button View Profile
    if isScientist
      div Scientist
    if isDeveloper
      div Developer
    div= language
    div= discipline