div.internalHeader{
	background-color: #c0392b
}

div.userStub{
	background-color: #8e44ad
}


/*Wrapper, push and footer*/
div.footer{
	background-color: #999999;
	border-top:1px solid #000000;
	height:6em;
}

div.push{
	height:6em;
}

div.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6em;
}