/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height:100%;
	width:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Enforce more intuitive box-sizing, suppress selection, demand default cursor*/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}


/*temporary mixin color coding*/
div.internalHeader{
	background-color: #c0392b
}

div.userStub{
	background-color: #8e44ad
}

div.footer{
	background-color: #3498db
}

h1.splashTitle{
	background-color: #16a085
}

/*Landing page*/
div#landingWrapper{
	text-align: center;
}

h1.splashTitle{
	font-size: 300%;
	margin-bottom:1em;
	text-align: center;
}

div.container{
	display:inline-block;
	width:60%;
	height:10em;
}

div.leftBlock{
	position: relative;
	float:left;
	width:30%;
	top:50%;
	text-align: left;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

div.rightBlock{
	position: relative;
	float:right;
	width:70%;
	top:50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

input.bigButton{
	-webkit-appearance: none;
	width:90%;
	height:4em;
}

p.splashText{
	font-size: 200%;
}

div#landingWrapper div.userStub{
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 20%;
	margin-right: 20%;
}

div#landingWrapper div.userStub form{
	display: none;
}

/*mixins
div.internalHeader form{
	float:left;
}

div.internalHeader h1{
	float:right;
}
*/
/*Wrapper, push and footer*/
div.footer{
	border-top:1px solid #000000;
	height:6em;
}

div.push{
	height:6em;
}

div.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6em;
}