doctype html5
html
  head
    link(rel='stylesheet', href='static/style.css')
    include ../mixins/internalHeader.jade
    include ../mixins/userStub.jade
    include ../mixins/footer.jade
    include ../mixins/splashTitle.jade

  body
    div.wrapper
      +splashTitle()
      +internalHeader('My Matches')

      - for(var i=page*10; i<Math.min(match.length, (page+1)*10); i++) {
        +userStub(match[i].uName, hasContacted, match[i].scientist, match[i].developer, match[i].language, match[i].discipline)
      - }

      - if(match.length == 0) {
          p No matches... YET
      - } 

      -if(match.length > 10)
        h3 more matches
        - for(var j=0; j<Math.ceil(match.length/10); j++ ){
          a(href='/userMatches?page='+j) Page #{j}
        - }

      div.push

    +footer()
