doctype html5
html
  head
    link(rel='stylesheet', href='/style.css')
    include mixins/internalHeader.jade
    include mixins/footer.jade
    include mixins/splashTitle.jade

  body
    div.wrapper
      +splashTitle()
      +internalHeader('Contact User')

      form(method='post', action='updatePassword')
        label New Password:
        input(type='password' name='pass')

        label Re New Password:
        input(type='password' name='repass')

        input(type='submit' value='Update Password')

      div.push

    +footer()

