doctype html5
html
  head

  body
    form(method='post', action='updatePassword')
      label New Password:
      input(type='password' name='pass')

      label Re New Password:
      input(type='password' name='repass')

      input(type='submit' value='Update Password')