doctype html5
html
  head

  body
    h1 Are you a Scientist or a Software Developer?

    form(method='post', action='newScientist')
      input(type='submit', value='Scientist')

    form(method='post', action='newDeveloper')
      input(type='submit', value='Developer')
