doctype html5
html
  head
    link(rel='stylesheet', href='/style.css')
    include mixins.jade

  body
    div.wrapper
      +splashTitle()
      h1 Are you a Scientist or a Software Developer?

      form(method='post', action='newUser')
        input(type='checkbox', name='scientist', checked=true, style='display:none')
        input(type='submit', value='Scientist')

      form(method='post', action='newUser')
        input(type='checkbox', name='scientist', checked=false, style='display:none')
        input(type='submit', value='Developer')

      div.push

    +footer()

