doctype html5
html
  head

  body
    h1 Are you a Scientist or a Software Developer?

    form(method='get', action='newUser')
      input(type='checkbox', name='scientist', checked=true, style='display:none')
      input(type='submit', value='Scientist')

    form(method='get', action='newUser')
      input(type='checkbox', name='scientist', checked=false, style='display:none')
      input(type='submit', value='Developer')

