doctype html5
html
  head

  body
    h1 DERP

    p Something terrible happened.  Click to get things back on track.

    form(method='post', action='home')
      input(type='submit' value='Back to Work!')