
include partials/head.jade
include partials/header.jade
include splash.jade
include partials/footer.jade

doctype html5
html
  head
    +head() 
  body.vanilla   
    div.page-wrapper
      +header()
      section
        h1 Error of some kind occured, poop.
      +footer()
