include partials/userStub.jade
include partials/head.jade
include partials/header.jade
include splash.jade
include partials/footer.jade

link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")

doctype html5
html
  head
    +head() 
  body  
    div.page-wrapper
      +header()
      section
        +splash()
      +footer()

