doctype html5
html
  head

  body
    h1= name

    form(method='post', action='DinoStart')
      input(type='submit' value='Dinos')

    form(method='post', action='RoboStart')
      input(type='submit' value='Robos')

    form(method='get', action='logout')
      input(type='submit' value='logout')