doctype html5
html
  head

  body
    form(method='post', action='DinoStart')
      input(type='submit' value='Dinos')

    form(method='post', action='RoboStart')
      input(type='submit' value='Robos')