doctype html5
html
  head

  body
    h1= name

    form(method='post', action='DinoStart')
      input(type='submit' value='Dinos')

    form(method='post', action='RoboStart')
      input(type='submit' value='Robos')

    form(method='post', action='regUser')
      label User
      input(type='text' name='uName')
      label Pass
      input(type='password' name='pass')
      input(type='submit' value='Register User')