doctype html5
html
  head

  body
    h1 Welcome

    form(method='get', action='login')
      input(type='submit', value='Login')

    form(method='get', action='register')
      input(type='submit', value='Register')