doctype html5
html
  head

  body
    h1 Login

    form(method='post', action='login')
      label User
      input(type='text' name='username')
      label Pass
      input(type='password' name='password')
      input(type='submit' value='Log In')

    h1 Register New User

    form(method='post', action='regUser')
      label User
      input(type='text' name='uName')
      label Pass
      input(type='password' name='pass')
      input(type='submit' value='Register User')