doctype html5
html
  head

  body
    h1 Login

    p= loginMessage
    form(method='post', action='login')
      label User
      input(type='text' name='username')
      label Pass
      input(type='password' name='password')
      input(type='submit' value='Log In')

    form(method='post', action='forgotPass')
      input(type='submit', value='I forgot my password :(')