include partials/head.jade
include partials/header.jade
include partials/footer.jade
include partials/stub.jade

doctype html5
html
  head
    +head()
  body
    div.page-wrapper
      +header(loggedIn)

    div.page-wrapper
      section.projectList
        div.projects(id="project-list")
          - for(var i=0; i<projects.length; i++){
            - if(projects[i].title)
              +stub(projects[i])
          - }



    +footer()
