doctype html5
html
  head

  body
    form(method='post', action='emailNewPassword')
      label Username
      input(type='text' name='username')
      input(type='submit' value='Email me a new password plz!')