doctype html5
html
  head
    link(rel='stylesheet', href='/style.css')
    include mixins.jade

  body
    div.wrapper
      +splashTitle()
      form(method='post', action='emailNewPassword')
        label Username
        input(type='text' name='username')
        input(type='submit' value='Email me a new password plz!')

      div.push

    +footer()