doctype html5
html
  head
    link(rel='stylesheet', href='static/style.css')
    include mixins/footer.jade
    include mixins/splashTitle.jade

  body
    div.wrapper
      +splashTitle()
      h1 Register New User

      p= registerMessage
      form(method='post', action='/regUser')
        label E-mail
        input(type='email' name='email')
        label Pass
        input(type='password' name='pass')
        label Re-Pass
        input(type='password' name='repass')
        input(type='submit' value='Register User')

      div.push

    +footer()