doctype html5
html
  head

  body
    h1 Welcome, RoboFriend!

    form(method='post', action='roboSubmit')
      label Name
        input(type='text', name='Name')

      label Fav Language
      select(name='language')
        option Haskell
        option FORTRAN 77
        option Jade

      label Likes Dinos With:
      select(name='wants')
        option Spikes
        option Scales
        option Wings

      input(type='submit' value='Upload Record to Hive Mind')
