doctype html5
html
  head

  body
    h1 Welcome, RoboFriend!

    form(method='post', action='roboSubmit')
      select(name='locomotion')
        option Bipedal
        option Quadrepedal
        option Antigrav

      select(name='language')
        option Haskell
        option BASIC
        option Jade
