doctype html5
html
  head

  body
    h1 Welcome, RoboFriend!

    form(method='post', action='roboSubmit')
      label Name
        input(type='text', name='Name')

      label Mode of Transportation
      select(name='locomotion')
        option Bipedal
        option Quadrepedal
        option Antigrav

      label Fav Language
      select(name='language')
        option Haskell
        option FORTRAN 77
        option Jade

      input(type='submit' value='Upload Record to Hive Mind')
