doctype html5
html
  head
    link(rel='stylesheet', href='/style.css')
    include mixins.jade

  body
    div.wrapper
      +splashTitle()
      +internalHeader('Search Results')

      - for(var i=page*10; i<Math.min(searchResults.length, (page+1)*10); i++) {
        +userStub(searchResults[i].uName, hasContacted, searchResults[i].scientist, searchResults[i].developer, searchResults[i].language, searchResults[i].discipline)
      - }

      - if(searchResults.length == 0) {
          p No matches... YET
      - } 

      -if(searchResults.length > 10)
        h3 more results
        - for(var j=0; j<Math.ceil(searchResults.length/10); j++ ){
          a(href='/searchResults?page='+j) Page #{j}
        - }

      div.push

    +footer()
