doctype html5
html
  head

  body
    form(method='post', action='recordNewScientist')
      label Sphere of Influence
      select(name='discipline')
        option Divination
        option Evokation
        option Necromancy

      label Language
      select(name='language')
        option Haskell
        option Visual BASIC
        option Jade

      input(type='submit', value='Submit')