doctype html5
html
  head

  body
    form(method='post' action='recordUpdate')
      if scientist
        label What is your discipline?
        input(type='checkbox', name='discipline[]', value='Divination')
        input(type='checkbox', name='discipline[]', value='Evokation')
        input(type='checkbox', name='discipline[]', value='Necromancy')

        label What language would you like to work in?
        input(type='checkbox', name='language[]', value='Haskell')
        input(type='checkbox', name='language[]', value='Visual BASIC')
        input(type='checkbox', name='language[]', value='Jade')

      if developer
        label What languages are you comfortable with?
        input(type='checkbox', name='language[]', value='Haskell')
        input(type='checkbox', name='language[]', value='Visual BASIC')
        input(type='checkbox', name='language[]', value='Jade')

        label What sciences interest you?
        input(type='checkbox', name='discipline[]', value='Divination')
        input(type='checkbox', name='discipline[]', value='Evokation')
        input(type='checkbox', name='discipline[]', value='Necromancy')

      input(type='submit', value='Update Profile')