doctype html5
html
  head

  scientist= scientist
  developer= developer

  body
    form(method='post' action='recordUpdate')
      if scientist
        label What is your discipline?
        select(name='discipline')
          option Divination
          option Evokation
          option Necromancy

        label What language would you like to work in?
        select(name='language')
          option Haskell
          option Visual BASIC
          option Jade

      if developer
        label What languages are you comfortable with?
        select(name='language')
          option Haskell
          option Visual BASIC
          option Jade

        label What sciences interest you?
        select(name='discipline')
          option Divination
          option Evokation
          option Necromancy

      input(type='submit', value='Update Profile')