doctype html5
html
  head

  body
    h1 user.uName

    form(method='post' action='recordUpdate')
      if scientist
        label What is your discipline?
        br
        input(type='checkbox', name='discipline[]', value='Divination')
        label Divination
        br
        input(type='checkbox', name='discipline[]', value='Evokation')
        label Evokation
        br
        input(type='checkbox', name='discipline[]', value='Necromancy')
        label Necromancy
        br
        br

        label What language would you like to work in?
        br
        input(type='checkbox', name='language[]', value='Haskell')
        label Haskell
        br
        input(type='checkbox', name='language[]', value='Visual BASIC')
        label Visual BASIC
        br
        input(type='checkbox', name='language[]', value='Jade')
        label Jade
        br

      if developer
        label What languages are you comfortable with?
        br
        input(type='checkbox', name='language[]', value='Haskell')
        label Haskell
        br
        input(type='checkbox', name='language[]', value='Visual BASIC')
        label Visual BASIC
        br
        input(type='checkbox', name='language[]', value='Jade')
        label Jade
        br
        br

        label What sciences interest you?
        br
        input(type='checkbox', name='discipline[]', value='Divination')
        label Divination
        br
        input(type='checkbox', name='discipline[]', value='Evokation')
        label Evokation
        br
        input(type='checkbox', name='discipline[]', value='Necromancy')
        label Necromancy
        br

      input(type='submit', value='Update Profile')