mixin splash
  div.splash-container
    div.splash
      h1.splash-head BUILD THE FUTURE
      p.splash-subhead INTERDISCIPLINARY PROGRAMMING
  div.content-wrapper
      div.content
          h2.content-head.is-center Building Software for Science
          p.is-center Every field of science relies on software in the search for discovery.  Let's work together to build the future faster and better.
          div.pure-g
            div.l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-power-off
                | Backend
              p
                | Help construct databases, data collection, and high-performance analysis code - the foundations of modern science.
            div.l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-desktop
                | Frontend
              p
                | Build UI and tools that help experiments and analysis run smoothly - and make doing science a joy.
            div.l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-bug
                | Code Review
              p
                | Mentor and learn about how to write better software, and put down solid ground for research to build upon. 
            div.l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-cogs
                | Open Hardware
              p
                | Break out of the lab and help bring science to the field and the public with hardware innovation for everyone.

        div.ribbon.l-box-lrg.pure-g
          div.l-box-lrg.is-center.pure-u-1.pure-u-med-1-2.pure-u-lrg-2-5
            i.bigIcon.fa.fa-flask
          div.pure-u-1.pure-u-med-1-2.pure-u-lrg-3-5
            h2.content-head.content-head-ribbon Scientists
            p
              | Team up with a developer to build better software faster.  Learn the best practices perfected by
              | master developers that will help you write code with less bugs and less systematics, and help your lab
              | build a robust, lasting toolkit - so you can spend less time fighting with code, and more time doing science.

        div.ribbon-alt.l-box-lrg.pure-g
          div.pure-u-1.pure-u-med-1-2.pure-u-lrg-3-5
            h2.content-head.content-head-ribbon Developers
            p
              | Find a team of scientists in the field that excites you the most, and share your expertise on the technology
              | that you know the best.  Mentor scientists as they plan and develop their software, guide their development
              | with code review, show them the power of open source collaboration - and help come up with the ideas that 
              | will jumpstart tomorrow.
          div.l-box-lrg.is-center.pure-u-1.pure-u-med-1-2.pure-u-lrg-2-5
            //img.pure-img-responsive(alt='File Icons', width='300', src='/img/common/file-icons.png')
            i.bigIcon.fa.fa-code

        div.content
          h2.content-head.is-center Together We Can
          div.pure-g
            div.l-box-lrg.pure-u-1.pure-u-med-2-5
              form(method='post' action='/register').pure-form.pure-form-stacked
                fieldset
                  label(for='email') Your Email
                  input#email(type='email', name='email' placeholder='Your Email')
                  button.pure-button(type='submit') Sign Up
            div.l-box-lrg.pure-u-1.pure-u-med-3-5
              h4 Contact Us
              p
                | The InterdisciplinaryProgramming team is here to help.  Direct any questions about how it all
                | works, how to write a great project proposal, what to expect or just say hi at abyss@noreply.lolno 
              h4 More Information
              p
                | Copyright 2014 Pixel the Cat


