mixin splash
  div.splash-container
    div.splash
      h1.splash-head BUILD THE FUTURE
      p.splash-subhead INTERDISCIPLINARY PROGRAMMING
  div.content-wrapper
      div.content.l-box-lrg
          h2.content-head.is-center We're studying Developers & Scientists Working Together
          div.pure-g
            p Do you have an ongoing research project that can benefit from a little added software expertise? We're studying how software developers and scientists of all stripes can team up to build the future faster and better.
            p In this study, in partnership with [Mozilla Science Lab], a coder will join your team to help you solve development problems, write better code, and demonstrate their coding best practices - so you can spend less time fighting with code, and more time doing science. Read the full call for proposals [here], and get in touch with the team below.
 
          div.l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-power-off
                | Backend
              p
                | Help construct databases, data collection, and high-performance analysis code - the foundations of modern science.
            div.l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-desktop
                | Frontend
              p
                | Build UI and tools that help experiments and analysis run smoothly - and make doing science a joy.
            div.l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-bug
                | Code Review
              p
                | Mentor and learn about how to write better software, and put down solid ground for research to build upon. 
            div.l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-cogs
                | Open Hardware
              p
                | Break out of the lab and help bring science to the field and the public with hardware innovation for everyone.

        div.ribbon.l-box-lrg.pure-g
          div.l-box-lrg.is-center.pure-u-1.pure-u-med-1-2.pure-u-lrg-2-5
            i.bigIcon.fa.fa-flask
          div.pure-u-1.pure-u-med-1-2.pure-u-lrg-3-5
            h2.content-head.content-head-ribbon Scientists
            p
              | Team up with a developer to build better software faster.  Learn the best practices perfected by
              | master developers that will help you write code with less bugs and less systematics, and help your lab
              | build a robust, lasting toolkit - so you can spend less time fighting with code, and more time doing science.

        div.ribbon-alt.l-box-lrg.pure-g
          div.pure-u-1.pure-u-med-1-2.pure-u-lrg-3-5
            h2.content-head.content-head-ribbon Developers
            p
              | Find a team of scientists in the field that excites you the most, and share your expertise on the technology
              | that you know the best.  Mentor scientists as they plan and develop their software, guide their development
              | with code review, show them the power of open source collaboration - and help come up with the ideas that 
              | will jumpstart tomorrow.
          div.l-box-lrg.is-center.pure-u-1.pure-u-med-1-2.pure-u-lrg-2-5
            //img.pure-img-responsive(alt='File Icons', width='300', src='/img/common/file-icons.png')
            i.bigIcon.fa.fa-code

        div.content.pilot-footer
          h2.content-head.is-center Together We Can
          div.pure-g
            div.l-box-lrg.pure-u-1.pure-u-med-2-5
              form(method='post' action='/emailIP').pure-form.pure-form-stacked
                fieldset
                  label(for='email') Your Email
                  input#email(type='email', name='email' required)
                  label(for='message') Message
                  textarea#message(cols=40, rows=10, name='body' required)
                  button.pure-button(type='submit') Get Involved
            div.l-box-lrg.pure-u-1.pure-u-med-3-5
              h4 Contact Us
              p
                | The Interdisciplinary Programming team is here to help.  Use the form on this page to submit your project proposal |or ask any questions; a copy of your email will be cc'ed to you and the IP team.
                |  
              h4 More Information
              p
                | Picture credit <a href='http://www.flickr.com/photos/amylovesyah/4528869007/'>Amy Loves Yah</a>


