doctype html5
html
  head
    link(rel='stylesheet', href='/style.css')
    include mixins.jade

  body
    +internalHeader('Search')

    form(method='get', action='search')
      label Profession
      input(type='radio', name='profession', value='scientist' required)
      label Scientist
      br
      input(type='radio', name='profession', value='developer' required)
      label Developer
      br
      br

      label Discipline
      br
      - for(var i=0; i<disciplines.length; i++){
        input(type='checkbox', name='discipline[]', value=disciplines[i] )
        label= disciplines[i]
        br
      - }
      br
      br

      label Language
      br
      - for(i=0; i<languages.length; i++){
        input(type='checkbox', name='language[]', value=languages[i] )
        label= languages[i]
        br
      - }
      br
      br

      input(type='submit', value='Search Users')
