doctype html5
html
  head

  body
    h1 My Matches

    form(method='get', action='userMatches')
      input(type='submit', value='My Matches')

    form(method='get', action='userProfile')
      input(type='submit', value='My Profile')

    form(method='get', action='userSearch')
      input(type='submit', value='Search')


    - for(var i=0; i<match.length; i++) {
      h3= match[i].uName
      div= match[i].language
      div= match[i].discipline
    - }
