mixin welcome
  div.splash
      h1 CONTRIBUTION PILOT
      p Welcome to our contribution pilot study (formerly known as "Interdisciplinary Programming"). We're studying how the community can solve problems and build new tools together.
  div
      div.content.content-contrast
          h2.content-head.is-center We're studying how the community can solve problems and build new tools together
          div.pure-g.l-box-lrg
            p Welcome to our contribution pilot study (formerly known as "Interdisciplinary Programming"). We're studying how the community can solve problems and build new tools together.
            h3 How you can get involved
            p This is open to all... you don't need to be a scientist, etc, etc
            h3 On openness and sharing
            p In the spirit of the project, we ask that all content, code and materials created in the context of the project are not only well documented and shared with the community, but also openly licensed for future use. This means CC-BY license (or public domain) for content and materials (including data, where possible and to the extent copyrightable) and MIT/BSD licenses for code to maximize reuse.

          div#bigLink.is-center
            a.pure-button(href='projects') See Our Projects

          div.l-box-lrg.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-power-off
                | Backend
              p
                | Help construct databases, data collection, and high-performance analysis code - the foundations of modern science.
            div.l-box-lrg.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-desktop
                | Frontend
              p
                | Build UI and tools that help experiments and analysis run smoothly - and make doing science a joy.
            div.l-box-lrg.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-bug
                | Code Review
              p
                | Mentor and learn about how to write better software, and put down solid ground for research to build upon.
            div.l-box-lrg.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-cogs
                | Open Hardware
              p
                | Break out of the lab and help bring science to the field and the public with hardware innovation for everyone.

        div.ribbon.l-box-lrg.pure-g
          div.l-box-lrg.is-center.pure-u-1.pure-u-med-1-2.pure-u-lrg-2-5
            i.bigIcon.fa.fa-flask
          div.pure-u-1.pure-u-med-1-2.pure-u-lrg-3-5
            h2.content-head.content-head-ribbon Scientists
            p
              | Team up with a developer to build better software faster.  Learn the best practices perfected by
              | master developers that will help you write code with less bugs and less systematics, and help your lab
              | build a robust, lasting toolkit - so you can spend less time fighting with code, and more time doing science.

        div.ribbon-alt.l-box-lrg.pure-g
          div.pure-u-1.pure-u-med-1-2.pure-u-lrg-3-5
            h2.content-head.content-head-ribbon Developers
            p
              | Find a team of scientists in the field that excites you the most, and share your expertise on the technology
              | that you know the best.  Mentor scientists as they plan and develop their software, guide their development
              | with code review, show them the power of open source collaboration - and help come up with the ideas that
              | will jumpstart tomorrow.
          div.l-box-lrg.is-center.pure-u-1.pure-u-med-1-2.pure-u-lrg-2-5
            //img.pure-img-responsive(alt='File Icons', width='300', src='/img/common/file-icons.png')
            i.bigIcon.fa.fa-code

        div.content.pilot-footer
          div.pure-g
            div.l-box-lrg.pure-u-1.pure-u-med-2-5
              form(method='post' action='/emailIP').pure-form.pure-form-stacked
                fieldset
                  label(for='email') Email Address
                  input#email(type='email', name='email' required)
                  label(for='message') Message
                  textarea#message(cols=40, rows=10, name='body' required)
                  button.pure-button(type='submit') Get Involved
            div.l-box-lrg.pure-u-1.pure-u-med-3-5
              h4 Contact Us
              p
                | The Interdisciplinary Programming team is here to help.  Use the form on this page to submit your project proposal or ask any questions; a copy of your email will be cc'ed to you and the IP team.
              h4 More Information
              p
                | In partnership with <a href='http://mozillascience.org/'><img class='MSLlogo' src='static/img/MSL.png'></img></a>
              p
                | Picture credit <a href='http://www.flickr.com/photos/amylovesyah/4528869007/'>Amy Loves Yah</a>
              div
                <a href='https://www.mozilla.org/en-US/privacy/websites/'>Privacy Policy</a>
                <a href='https://www.mozilla.org/en-US/about/legal/'>Terms of Use</a>



