doctype html5
html
  head
    link(rel='stylesheet', href='static/style.css')
    include ../partials/internalHeader.jade
    include ../partials/footer.jade
    

  body
    div.wrapper
      
      +internalHeader('Contact User')

      form(method='post', action='updatePassword')
        label New Password:
        input(type='password' name='pass')

        label Re New Password:
        input(type='password' name='repass')

        input(type='submit' value='Update Password')

      div.push

    +footer()

