include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade
include ../partials/internalHeader.jade

doctype html5
html
  head
    +head()
    
  body.vanilla
    div.page-wrapper
      +header()
      
      section
        div.content-wrapper      
          +internalHeader('Contact User')

          form(method='post', action='updatePassword').pure-form.pure-form-stacked
            label New Password:
            input(type='password' name='pass')

            label Re New Password:
            input(type='password' name='repass')

            input(type='submit' value='Update Password').pure-button.pure-button-primary

  

      +footer()

