include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head()
    
  body.vanilla
    div.page-wrapper
      +header(true)
      
      section
        div.content-wrapper

          h1 Contact #{user.uName}
          form(method='post', action='sendEmail').pure-form.pure-form-stacked
            input(type='hidden', name='uniqueID', value=user._id, style='display:none')
            label Subject
            
            input(type='text', name='subject')
            
            label Body
            textarea(cols=40, rows=10, name='body')
            
            input(type='submit', value='Send Mail').pure-button.pure-button-primary

    

      +footer()

