include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade
include ../partials/resultsUserStub.jade

doctype html5
html
  head
    +head()
    
  body#userMatches.vanilla
    div.page-wrapper
      +header(true)
      
      section
        div.content-wrapper
          h2 My Matches
          p Based on the information in your profile, Interdisciplinary Programming has recommended the following profiles for you to check out.
          - for(var i = page * 10; i < Math.min(match.length, (parseInt(page,10) + 1) * 10); i++) {
            +resultsUserStub(match[i].uName, match[i]._id, hasContacted, match[i].scientist, match[i].developer, match[i].language, match[i].discipline, match[i]._id)
          - }

          - if(match.length == 0) {
              p No matches... YET
          - } 

          -if(match.length > 10)
            h3 more matches
            - for(var j = 0; j < Math.ceil(match.length/10); j++ ){
              a(href='/userMatches?page='+j) Page #{j}
            - }

      +footer()
