include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade
include ../partials/resultsUserStub.jade

doctype html5
html
  head
    +head()
    
  body.vanilla

    //-
      if searchResults
        script.
          window.sessionStorage.setItem('IPsearchResults', JSON.stringify(searchResults) )
      else
        - var searchResults = JSON.parse(sessionStorage.getItem('IPsearchResults'))

    div.page-wrapper
      +header(true)

      section
        div.content-wrapper

          - for(var i=page*10; i<Math.min(searchResults.length, (parseInt(page, 10)+1)*10); i++) {
            +resultsUserStub(searchResults[i].uName, searchResults[i]._id, hasContacted, searchResults[i].scientist, searchResults[i].developer, searchResults[i].language, searchResults[i].discipline, searchResults[i].description, searchResults[i]._id)
          - }

          - if(searchResults.length == 0) {
              p No matches... YET
          - } 

          -if(searchResults.length > 10)
            h3 more results
            - for(var j=0; j<Math.ceil(searchResults.length/10); j++ ){
              a(href='/searchResults?page='+j) Page #{j}
            - }

    

      +footer()