mixin headerBar
	header
		div.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
			a(href='#').pure-menu-heading Interdisciplinary Programming
			ul
				li
					a(href='#') Login
				li
					a(href='#') Signup
