doctype html5
html
  head
    link(rel='stylesheet', href='static/style.css')
    include ../mixins/footer.jade
    include ../mixins/splashTitle.jade

  body
    div.wrapper
      +splashTitle()
      h1 Login

      p= loginMessage
      form(method='post', action='login')
        label User
        input(type='text' name='username')
        label Pass
        input(type='password' name='password')
        input(type='submit' value='Log In')

      form(method='get', action='forgotPass')
        input(type='submit', value='I forgot my password :(')

      div.push

    +footer()
