include ../partials/head.jade
include ../partials/header.jade
include ../partials/footer.jade

doctype html5
html
  head
    +head() 
  body.vanilla  
    div.page-wrapper
      +header()
      section
        div.content-wrapper
          div.content
            h2 Register
            p= registerMessage
            form(method='post', action='/regUser').pure-form.pure-form-stacked
              label E-mail
              input(type='email' name='email')
              label Pass
              input(type='password' name='pass')
              label Re-Pass
              input(type='password' name='repass')
              input(type='submit' value='Register User').pure-button.pure-button-primary
      +footer()